<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewsreaderServlet</servlet-name>
        <servlet-class>is2560.NewsreaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactsbookServlet</servlet-name>
        <servlet-class>is2560.ContactsbookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodolistServlet</servlet-name>
        <servlet-class>is2560.TodolistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>is2560.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>is2560.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>is2560.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterSigninServlet</servlet-name>
        <servlet-class>is2560.TwitterSigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterCallbackServlet</servlet-name>
        <servlet-class>is2560.TwitterCallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterPostServlet</servlet-name>
        <servlet-class>is2560.TwitterPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterTimelineServlet</servlet-name>
        <servlet-class>is2560.TwitterTimelineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterLogoutServlet</servlet-name>
        <servlet-class>is2560.TwitterLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodolistDelete</servlet-name>
        <servlet-class>is2560.TodolistDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsreaderDelete</servlet-name>
        <servlet-class>is2560.NewsreaderDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactsbookDelete</servlet-name>
        <servlet-class>is2560.ContactsbookDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactsbookModify</servlet-name>
        <servlet-class>is2560.ContactsbookModify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsreaderServlet</servlet-name>
        <url-pattern>/NewsreaderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsbookServlet</servlet-name>
        <url-pattern>/ContactsbookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodolistServlet</servlet-name>
        <url-pattern>/TodolistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/BlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterSigninServlet</servlet-name>
        <url-pattern>/TwitterSigninServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterCallbackServlet</servlet-name>
        <url-pattern>/TwitterCallbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterPostServlet</servlet-name>
        <url-pattern>/TwitterPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterTimelineServlet</servlet-name>
        <url-pattern>/TwitterTimelineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterLogoutServlet</servlet-name>
        <url-pattern>/TwitterLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodolistDelete</servlet-name>
        <url-pattern>/TodolistDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsreaderDelete</servlet-name>
        <url-pattern>/NewsreaderDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsbookDelete</servlet-name>
        <url-pattern>/ContactsbookDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsbookModify</servlet-name>
        <url-pattern>/ContactsbookModify</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
